
//    Font Family

$primary-font	: 'Comfortaa', sans-serif;
$title-font     : 'Comfortaa', sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color	: #FF7300;
$primary-color2	: #ff6c00;
$primary-color3	: #828bb3;
$title-color	: #222222;
$text-color		: #777777;
$baseColor: #c5322d; 
$dip: #222222;
$pfont: #777777;
$white			: #fff;
$black			: #000;
$offwhite: #fcfcfc;

/*--------------------------- Fonts ----------------------*/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');